
<div class="container mt-12">
  <% if current_user %>
    Welcome <%= current_user.name %>
  <% else %>
    <div class="space-y-2 flex flex-col items-center justify-center">
      <p class="text-gray-800">
        You are not signed in
      </p>
    </div>
  <% end %>
</div>
