<%= turbo_frame_tag 'review' do %>
  <div class="review">
    <%= review.comment %>
    <div class="review_actions">
      <%= button_to "Delete review", product_review_path(id: review.id), method: :delete,
                    class: "btn btn--light" %>
    </div>
  </div>
<% end %>
